@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#brand-50 path {
  fill: #ebebff !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
